<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="home">
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="LOGO" class="logo">
        <div>
            <form class="barra" action=""><input type="text" placeholder="Buscar productos y más"><br><button><i
                        class="fas fa-search"></i></button></form>
        </div>
        <p class="compracuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </p>
        <nav>
            <ul class="lista">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="lista">
                <li><a href="#">Creá tu Cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div class="burgermenu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>


    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner" width="340px" class="banner">

        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="300px">
                <span class="precio">$6.770</span>
                <span class="descuento">40% OFF</span>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Notebook" width="300px">
                <span class="precio">$230.000</span>
                <span class="descuento">20% OFF</span>
                <h4 class="descripcion">MacBook Pro 2019</h4>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="300px">
                <span class="precio">$70.500</span>
                <span class="descuento">10% OFF</span>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Samsung" width="300px">
                <span class="precio">$23.200</span>
                <span class="descuento">5% OFF</span>
                <h4 class="descripcion">Smart Samsung 43'</h4>
            </article>
        </section>

        <section>
            <h2>Basado en su última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="300px">
                <span class="precio">$6.770</span>
                <span class="descuento">40% OFF</span>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Notebook" width="300px">
                <span class="precio">$230.000</span>
                <span class="descuento">20% OFF</span>
                <h4 class="descripcion">MacBook Pro 2019</h4>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="300px">
                <span class="precio">$70.500</span>
                <span class="descuento">10% OFF</span>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Samsung" width="300px">
                <span class="precio">$23.200</span>
                <span class="descuento">5% OFF</span>
                <h4 class="descripcion">Smart Samsung 43'</h4>
            </article>
        </section>
    </main>
</body>



<footer class="footer">
    <div class="pagos">
        <p class="iconosfooter"><i class="fas fa-credit-card"></i></p>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="pagos">
        <p class="iconosfooter"><i class="fas fa-gift"></i></p>
        <h4>Envíos gratis desde $2500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
       <p class="iconosfooter"><i class="fas fa-user-shield"></i></p> 
    </div>
    <div class="pagos">
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </div>
    <div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </div>

</footer>


</html>