<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="home">
    <header class="header">
        <img src="/images/logo-mercado-liebre.svg" alt="LOGO" class="logo">
        <div>
            <form class="barra" action=""><input type="text" placeholder="Buscar productos y más"><button><i
                        class="fas fa-search"></i></button></form>
        </div>
        <p class="compracuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </p>
        <nav>
            <ul class="lista">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="lista">
                <li><a href="#">Creá tu Cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></i></li>
            </ul>
            <div class="burgermenu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>


    <main class="main">
        <img src="/images/img-home-banner.jpg" alt="Banner" class="banner">

        <section>
            <h2 class="oferta">Ofertas</h2>
            <article class="articulos">
               
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenproducto">
               
                <div class="infoproductos">
                    <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="articulos">
                
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Notebook" class="imagenproducto">
              
                <div class="infoproductos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>

            <article class="articulos">
                
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="imagenproducto">
                
                <div class="infoproductos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="articulos">
                
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Samsung" class="imagenproducto">
                
                <div class="infoproductos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">Smart Samsung 43'</h4>
                </div>
            </article>
        </section>

        <section>
            <h2 class="basado">Basado en su última visita</h2>
            <article class="articulos">
                
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="imagenproducto">
                
                <div class="infoproductos">
                    <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="articulos">
                
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Notebook" class="imagenproducto">
                
                <div class="infoproductos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>

            <article class="articulos">
                
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="imagenproducto">
                
                <div class="infoproductos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article class="articulos">
                
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart Samsung" class="imagenproducto">
                
                <div class="infoproductos">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">Smart Samsung 43'</h4>
                </div>
            </article>
        </section>
    </main>


<footer class="footer">
    <div class="pagos">
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="pagos">
        <i class="fas fa-gift"></i>
        <h4>Envíos gratis desde $2500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="pagos">
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </div>
    <div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </div>
</footer>
</body>
</html>